*{
    font-family: "Open Sans", sans-serif;
    align-items: center;
    text-align: center;
    border: none;
    text-decoration: none;
}

.general {
    display: flex;
    flex-direction: column;
}

.text{
    font-size: 5vh;
}

p {
    font-size: 7vh;
    margin-top: 5vh;
}

body{
    overflow: hidden;
}

.container {
    display: flex;
}

.box {
    background-color: #003366;
    width: 20vw;
    height: 15vh;
    font-size: 5vh;
    color: white;
    border: 1vh solid #003366;
    border-radius: 40vh;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.box:hover {
    background-color: white;
    color: #003366;
    border: 1vh solid #003366;
    transition: 0.5s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#box1 {
    position: absolute;
    top: 50%;
    left: 20%;
}

#box2 {
    position: absolute;
    top: 50%;
    left: 50%;
}

#box3 {
    position: absolute;
    top: 50%;
    left: 80%;
}

#box-wide {
    width: 110vh;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
}

#evaluation{
    width: 80vh;
    position: absolute;
    bottom: 0;
    left: 50%;
}

#test_images{
    position: relative;
    top: 2vw;
    width: 80vw;
    font-size: 1vh;
}

#visualization{
    position: absolute;
    top: 25vh;
    width: 100%;
    height: 30%;
}

#yourself {
    width: 60vh;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.matrix_text{
    text-align: left;
    font-size: 2.5vh;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 35%;
    margin-top: 0;
}

.matrix_text rot{
    font-size: 2.5vh;
    background-color: red;
}

.matrix_text green {
    font-size: 2.5vh;
    background-color: green;
}

#matrix_text{
    text-align: center;
    top: 60%;
    left: 50%;
}

#matrix_text_apfel{
    left: 20%;
    width: 30%;
}

#matrix_text_orange{
    left: 50%;
    width: 30%;
}

#matrix_text_banane{
    left: 80%;
    width: 30%;
}

#tryit{
    font-size: 3vh;
    width: 20vw;
    height: 8vh;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 23%;
    margin: 0;
    bottom: 13%;
}

.rectangle  {
    width: 85vw;
    height: 70vh;
    margin-top: 5vh;
    background: #D9D9D9;
}

.float-container {
    float: left;
}

.float-child {
    float: left;
    padding-right: 2vw;
}

.optimizer_no_show {
    visibility: hidden;
}

#plotly_history {
    display: flex;
    width: 150%;
    flex-wrap: wrap;
}

#plotly_batch_history {
    float:left;
    height: 450px;
    width: 400px;
}
#plotly_time_per_batch {
    float:left;
    height: 450px;
    width: 400px;
}
#plotly_epoch_history {
    float:left;
    height: 450px;
    width: 400px;
}

.stop_start_webcam_button {
    display: none;
}


#webcam_prediction{
    position: absolute;
    left: 13vw;
    top: 23vh;
    width: 23vw;
    font-size: 5vh;
}

#show_internals_slider{
    display: none;
}

progress{
    width: 60vh;
    height: 5vh;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    left: 50vw;
    top: 62vh;
    -webkit-appearance: none;
    appearance: none;
}

progress::-webkit-progress-value{
    background:#003366;
    inset:0 100% 0 0;
}

progress::-webkit-progress-bar{
    background: white;
    border: 1vh solid #003366;
    border-radius: 6vh;
}

.flex_box {
    display: flex;
    flex-wrap: nowrap;
}

.largeimg{
    width: 100%;
    object-fit: cover;
}

.pic{
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    left: 70vw;
    top: 50vh;
    height: 70vh;
    width: 55vw;
}

.start{
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    height: 100vh;
    width: 100vw;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#plotly_time_per_batch{ display: none; }
#plotly_batch_history{ display: none; }
#plotly_epoch_history{ display: none; }

#__fcnn_canvas{
    position: fixed;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    left: 70vw;
    top: 22vh;
}

#kernel_0{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 26vh;
    left: 49%;
    font-size: 0;
}

#neuron_0{
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 0;
    top: 24.5vh;
    left: 43%;
}

#neuron_0>div>canvas{
    height: 8vh;
    width: 8vh;
    margin: 2vh !important;
}

#kernel_0>div>canvas{
    height: 2vh;
    width: 2vh;
    margin: 0.5vh !important;
}

#layer_0_kernel_3{
    margin-top: 3vh !important;
}

#layer_0_kernel_6{
    margin-top: 3vh !important;
}

#layer_0_kernel_9{
    margin-top: 3vh !important;
}

#kernel_1{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 26vh;
    left: 58.5%;
    font-size: 0;
}

#neuron_1{
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 0;
    top: 24.5vh;
    left: 52.5%;
}

#neuron_1>div>canvas{
    height: 8vh;
    width: 8vh;
    margin: 2vh !important;
}

#kernel_1>div>canvas{
    height: 2vh;
    width: 2vh;
    margin: 0.5vh !important;
}

#layer_1_kernel_3{
    margin-top: 3vh !important;
}

#layer_1_kernel_6{
    margin-top: 3vh !important;
}

#layer_1_kernel_9{
    margin-top: 3vh !important;
}

#kernel_2{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 26vh;
    left: 68%;
    font-size: 0;
}

#neuron_2{
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 0;
    top: 24.5vh;
    left: 62%;
}

#neuron_2>div>canvas{
    height: 8vh;
    width: 8vh;
    margin: 2vh !important;
}

#kernel_2>div>canvas{
    height: 2vh;
    width: 2vh;
    margin: 0.5vh !important;
}

#layer_3_kernel_3{
    margin-top: 3vh !important;
}


#layer_3{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 32.5vh;
    left: 69%;
    font-size: 0;
}

#layer_5_neuron_0>canvas{
    height: 8vh;
    width: 20vh;
}

#layer_4{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 23.5vh;
    left: 83.5%;
    font-size: 0;
}

#layer_4>div>canvas{
    height: 8vh;
    width: 2vh;
}

#text_training {
    position: absolute;
    top: 40vh;
    left: 50vw;
    width: 85%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    line-height: 110%;
    font-family: "Open Sans", sans-serif;
    font-size: 2.5vh !important;
    margin: 1vh;
}

#progress-text{
    width: 60vh;
    height: 5vh;
    color: #003366;
    font-weight: bold;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    left: 50vw;
    top: 57vh;
    margin-top: 2vh;
    margin-bottom: 0.5vh;
}

#erklärung{
    font-size: 2.5vh;
    text-align: left;
    position: absolute;
    left: 63.5vw;
    top: 45vh;
    width: 30vw;
    line-height: 110%;
}
