* {
	font-family: "Open Sans", sans-serif;
	align-items: center;
	text-align: center;
	border: none;
	text-decoration: none;
	user-select: none;
}

.general {
	display: flex;
	flex-direction: column;
}

.text{
	font-size: 5vh;
}

p {
	font-size: min(7vh, 7vw);
	margin-top: 5vh;
}

.container {
	display: flex;
}

.green_box {
	color: black !important;
	background-color: #2fff3d !important;
	border: 1vh solid #2fff3d !important;
}

.green_box:hover {
	color: black !important;
	border: 1vh solid #00ff88 !important;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.disabled_class {
	cursor: not-allowed;
	background-color: #b30003 !important;
	width: 20vw;
	color: black;
	border: 1vh solid #b30003 !important;
	border-radius: 2vh;
	font-size: min(2vw, 2vh);
}

.disabled_class:hover {
	background-color: white;
	color: black !important;
	border: 1vh solid #b30003 !important;
	transition: 0.5s;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.reasonable_box {
	background-color: #003366;
	width: 330px;
	color: white;
	border: 1vh solid #003366;
	border-radius: 2vh;
	font-size: min(2vw, 2vh);
}

.reasonable_box:hover {
	background-color: white;
	color: #003366;
	border: 1vh solid #003366;
	transition: 0.5s;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.box {
	background-color: #003366;
	width: 20vw;
	height: 15vh;
	font-size: 5vh;
	color: white;
	border: 1vh solid #003366;
	border-radius: 2vh;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	position: absolute;
	bottom: 0%;
	font-size: min(3vw, 3vh);
}

.box:hover {
	background-color: white;
	color: #003366;
	border: 1vh solid #003366;
	transition: 0.5s;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#box1 {
	left: 20%;
}

#box2 {
	left: 50%;
}

#box3 {
	left: 80%;
}

#box-wide {
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
}

#auswertung_anzeigen{
	width: 80vh;
	position: absolute;
	bottom: 0;
	left: 50%;
}

#test_images{
	position: relative;
	top: 2vw;
	width: 80vw;
	font-size: 1vh;
}

#visualization{
	position: absolute;
	width: 100%;
	height: 30%;
	top: 20px;
}

#yourself {
	width: 60vh;
	position: absolute;
	bottom: 0;
	left: 50%;
}

.matrix_text{
	text-align: left;
	font-size: 2.5vh;
	position: absolute;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 35%;
	margin-top: 0;
}

red{
	font-size: 2.5vh;
	background-color: red;
}

green {
	font-size: 2.5vh;
	background-color: green;
	color: white;
}

#matrix_text{
	text-align: center;
	top: 60%;
	left: 50%;
}

#matrix_text_apfel{
	left: 20%;
	width: 30%;
}

#matrix_text_orange{
	left: 50%;
	width: 30%;
}

#matrix_text_banane{
	left: 80%;
	width: 30%;
}

#tryit{
	font-size: 3vh;
	width: 25vw;
	height: fit-content;
	position: absolute;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	left: 23%;
	margin: 0;
	bottom: 0%;
}

.rectangle  {
	width: 85vw;
	height: 70vh;
	margin-top: 5vh;
	background: #D9D9D9;
}

.float-container {
	float: left;
}

.float-child {
	float: left;
	padding-right: 2vw;
}

.optimizer_no_show {
	visibility: hidden;
}

#plotly_history {
	display: flex;
	width: 150%;
	flex-wrap: wrap;
}

#plotly_batch_history {
	float:left;
	height: 450px;
	width: 400px;
}
#plotly_time_per_batch {
	float:left;
	height: 450px;
	width: 400px;
}
#plotly_epoch_history {
	float:left;
	height: 450px;
	width: 400px;
}

.stop_start_webcam_button {
	display: none;
}


#webcam_prediction{
	position: absolute;
	left: 13vw;
	top: 430px;
	width: 23vw;
	font-size: 5vh;
}

#show_internals_slider{
	display: none;
}

progress {
	width: 60vh;
	height: 5vh;
	position: absolute;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	left: 50vw;
	top: 62vh;
	-webkit-appearance: none;
	appearance: none;
}

progress::-webkit-progress-value{
	background: #003366;
	inset: 0 110% 0 0;
}

progress::-webkit-progress-bar{
	background: white;
	border: 1vh solid #003366;
	border-radius: 6vh;
}

.flex_box {
	display: flex;
	flex-wrap: nowrap;
}

.largeimg{
	width: 100%;
	object-fit: cover;
}

.pic{
	position: absolute;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	left: 70vw;
	top: 50vh;
	height: 70vh;
	width: 55vw;
}

.start{
	position: absolute;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	height: 100vh;
	width: 100vw;
}

video {
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
}

#plotly_time_per_batch{ display: none; }
#plotly_batch_history{ display: none; }
#plotly_epoch_history{ display: none; }

#__fcnn_canvas{
	position: fixed;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	left: 70vw;
	top: 22vh;
}

#text_training {
	font-family: "Open Sans", sans-serif;
	font-size: 2.5vh !important;
	margin: 1vh;
}

#progress-text{
	width: 60vh;
	height: 5vh;
	color: #003366;
	font-weight: bold;
	position: absolute;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	left: 50vw;
	top: 57vh;
	margin-top: 2vh;
	margin-bottom: 0.5vh;
}

#explanation {
	font-size: min(2vh, 2vw);
	text-align: left;
	position: relative;
	width: 30vw;
	left: 50%;
}

.halfvideo {
	max-width: 75% !important;
}

.smaller {
	margin: 0 !important;
	padding: 0 !important;

	font-size: unset !important;
}

#auswertung {
	display: none;
}

#auswertung_element {
	margin: 200px;
	font-size: min(2vh, 2vw);
}

.tab {
	margin-top: 120px;
	margin-left: 120px;
	margin-right: 120px;
}

.halftext {
	width: 40%;
}

.simple-keyboard {
	position: fixed;
	bottom: 0px;
}

#analysis {
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 100px;
}

.thumbnail_container {
	min-height: 50px;
}

#explanation_group {
	right: 20%;
	bottom: 10%;
	position: fixed;
}

.custom_images_category {
	width: 100%;
}

.delete_image_x {
	left: -21px;
	position: relative;
	top: -6px;
}

.take_image {
	width: 100%;
}
